<!doctype html>
<html lang="en">
  <head>
    <title>My Map App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>My Map App</h1>
      </div>
      <div id="map"></div>
      <script data-bind="attr: {src: GOOGLE_MAPS_URL}" async defer></script>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box"></input>
      <div class="row">
        <ul id="listOfPlaces" data-bind="foreach: placesArray">
          <li data-bind="click: $parent.clickAction, attr: {id: $data.id}">
            <span data-bind="text: $data.name"></span>
            <!-- ko if: $parent.yelpLoaded  -->
              <div class="yelp_price" data-bind="with: $parent.yelpData">
                <b>Price:</b> <span data-bind="text: $data.price"></span>
              </div>
              <div class="yelp_rating" data-bind="with: $parent.yelpData">
                <b>Yelp Rating:</b> <span data-bind="text: $data.rating"></span>
              </div>
              <div class="yelp_category" data-bind="with: $parent.yelpData">
                <b>Category:</b> <span data-bind="foreach: $data.categories">
                  <span data-bind="text: title + ', '"></span>
                </span>
              </div>
              <div class="yelp_status" data-bind="with: $parent.yelpStatus">
                <b>Status:</b> <span data-bind="text: $data.status"></span>
              </div>
            <!-- /ko -->
          </li>
        </ul>
      </div>
    </div>


    <!-- Optional JavaScript -->



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- GCR: My additional scripts -->
    <script type='text/javascript' src='../static/scripts/knockout-3.4.2.js'></script>
    <script type="text/javascript" src="../static/scripts/scripts2.js" ></script>
  </body>
</html>